<div>
    <h1>Id: @Model.Id</h1>
    <h1>Name： @Model.FirstName @Model.LastName</h1>
    <h1>Gender: @Model.Gender</h1>
    <h1>Birthday: @Model.Birthday</h1>
    <a asp-action="Index">return home</a>
</div>